### Dtale library

### Loading the dataset from seaborn

In [11]:
import seaborn as sns

In [13]:
print(sns.get_dataset_names())

C:\Users\SHARUK KHAN_2\Anaconda3\lib\site-packages\seaborn\utils.py:376: UserWarning:

No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 376 of the file C:\Users\SHARUK KHAN_2\Anaconda3\lib\site-packages\seaborn\utils.py. To get rid of this warning, pass the additional argument 'features="lxml"' to the BeautifulSoup constructor.

['anagrams', 'anscombe', 'attention', 'brain_networks', 'car_crashes', 'diamonds', 'dots', 'exercise', 'flights', 'fmri', 'gammas', 'geyser', 'iris', 'mpg', 'penguins', 'planets', 'tips', 'titanic']

In [14]:
df = sns.load_dataset("planets")

In [15]:
df.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

### dtale starts

In [10]:
import dtale

#### The below cell shows table where you can interact.

In [16]:
dtale.show(df)

### Copy and Pasted the code

In [18]:
# DISCLAIMER: 'df' refers to the data you passed in when calling 'dtale.show'

import pandas as pd

if isinstance(df, (pd.DatetimeIndex, pd.MultiIndex)):
	df = df.to_frame(index=False)

# remove any pre-existing indices for ease of use in the D-Tale code, but this is not required
df = df.reset_index().drop('index', axis=1, errors='ignore')
df.columns = [str(c) for c in df.columns]  # update columns to strings in case they are numbers

corr_data = df.corr(method='pearson')
corr_data.index.name = str('column')
corr_data = corr_data.reset_index()

In [19]:
corr_data

           column    number  orbital_period      mass  distance      year
0          number  1.000000       -0.012570 -0.241429 -0.033638  0.147849
1  orbital_period -0.012570        1.000000  0.173725 -0.034365 -0.032333
2            mass -0.241429        0.173725  1.000000  0.274082 -0.123787
3        distance -0.033638       -0.034365  0.274082  1.000000  0.178922
4            year  0.147849       -0.032333 -0.123787  0.178922  1.000000

In [20]:
# DISCLAIMER: 'df' refers to the data you passed in when calling 'dtale.show'

import numpy as np
import pandas as pd

if isinstance(df, (pd.DatetimeIndex, pd.MultiIndex)):
	df = df.to_frame(index=False)

# remove any pre-existing indices for ease of use in the D-Tale code, but this is not required
df = df.reset_index().drop('index', axis=1, errors='ignore')
df.columns = [str(c) for c in df.columns]  # update columns to strings in case they are numbers

df = df.rename(columns={'number': 'Rename_number'})
s = df['Rename_number']
s = s.replace({
	1: np.nan})
df.loc[:, 'Rename_number'] = s
chart = pd.value_counts(df[~pd.isnull(df['Rename_number'])]['Rename_number'])

In [21]:
chart

2.0    259
3.0     88
4.0     32
5.0     30
6.0     24
7.0      7
Name: Rename_number, dtype: int64

In [22]:
s = df['Rename_number']
q1 = s.quantile(0.25)
q3 = s.quantile(0.75)
iqr = q3 - q1
iqr_lower = q1 - 1.5 * iqr
iqr_upper = q3 + 1.5 * iqr
outliers = dict(s[(s < iqr_lower) | (s > iqr_upper)])

In [23]:
outliers

{17: 5.0,
 18: 5.0,
 19: 5.0,
 20: 5.0,
 21: 5.0,
 130: 6.0,
 131: 6.0,
 132: 6.0,
 133: 6.0,
 134: 6.0,
 135: 6.0,
 230: 6.0,
 231: 6.0,
 232: 6.0,
 233: 6.0,
 234: 6.0,
 235: 6.0,
 309: 6.0,
 310: 6.0,
 311: 6.0,
 312: 6.0,
 313: 6.0,
 314: 6.0,
 664: 6.0,
 665: 6.0,
 666: 6.0,
 667: 6.0,
 668: 6.0,
 669: 6.0,
 681: 5.0,
 682: 5.0,
 683: 5.0,
 684: 5.0,
 685: 5.0,
 708: 5.0,
 709: 5.0,
 710: 5.0,
 711: 5.0,
 712: 5.0,
 713: 5.0,
 714: 5.0,
 715: 5.0,
 716: 5.0,
 717: 5.0,
 770: 5.0,
 771: 5.0,
 772: 5.0,
 773: 5.0,
 774: 5.0,
 818: 7.0,
 819: 7.0,
 820: 7.0,
 821: 7.0,
 822: 7.0,
 823: 7.0,
 824: 7.0,
 841: 5.0,
 842: 5.0,
 843: 5.0,
 844: 5.0,
 845: 5.0}